.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  justify-content: center;
  align-items: center;
}

/* Согласно заданию этот блок не требуется,
сделал, чтобы можно было открывать и закрывать
popup без добавления классов. С добавлением классов тоже работает. */
.popup:target {
  display: flex;
}
