.card__like {
  border: none;
  background: none;
  width: 22px;
  height: 19px;
  object-fit: cover;
  align-self: center;
  margin-bottom: 3px;
}

.card__like:hover {
  opacity: 60%;
  cursor: pointer;
}
